body{ 
	margin: 0% ;
	align-items: center;
	text-align: center;
	background-image: url(images/form.jpg);
}
.fondoi{
	background-image: url(images/form.jpg);
}
.fondosc{
	height: 250;
	border: none;
	overflow: auto;
}
.fondosc3{
	height: 100;
	border: none;
	overflow: auto;
}
.fondosc2{
	width: 40%;
}
.alineacion{
	display: flex;
    align-items: center;
}
.alineacion2{
	display: flex;
    align-items: center;
	margin: 0%;
}
.cabecera{
	background-color: #002c2c;
	background: linear-gradient(#1f2547, #000000);
	height: 150;
	float: none;
	color: cornsilk;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: none;
}
.cabecera img{
	width:150;
	height: 150;
}
.contimg{
	width:150;
	height:150;
	float:left;
}

.centro{
	text-align: center;
	justify-content:center;
	width: 50%;
}
.centro img{
	width: 300px;
}
.formulario{
	align-items: center;
	text-align: center;
	text-decoration: none;
	margin:auto;
	width: 70%;
	font-weight: normal;
	border-radius: 5px;
	background-color: #ffffff;
	opacity: 50%;
	color:black;
	padding: 5;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.formulario input,a{
	width: 100%;	
	height: 54;
	text-decoration: none;
	margin: 0;
	outline: none;
	border:none;
	background: none;
	border-radius: 0 5px 5px 0;
	font-size: 1.2em;
}
.formulario img{
	width:50;
}
.formulario form{
	width:80%; 
	margin: 20 auto;
}
.formulario hr{
	size: 1;
	color: #000000;
	margin: 0% ;

}
.formulario b{
	
	color: #031081;
	margin: 0% ;
	font-size: 1.2em;
	
}
.borde{
	border-bottom:solid #000000 1px;
	width: 60%;
	height: 54;
}
.boton1{
	width: 100%;
	background-color:#060966 ;
	height: 40;
	color: #ffffff;
	border-radius: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: none;
	text-decoration: none;
	font-size: 1.2em;
}
.boton1:hover{
	background-color:rgb(0, 0, 0);
}
.fecha{
	background-color: #000000;
	height: 30;
	float: none;
	color: cornsilk;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0%;
	text-align: right;
}

.boton2{
	width: 100%;
	background-color:#000000 ;
	height: 40;
	color: #ffffff;
	border-radius: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: none;
	text-decoration: none;
	padding: 6 20 6 20;
	font-size: 95%;
	margin: 0 0 0 20;
}
.boton2:hover{
	border:1px solid #ffffff; 
}
.contenedor{
	align-items: center;
	text-align: center;
	text-decoration: none;
	margin:auto;
	width: 70%;
	font-weight: normal;
	border-radius: 5px;
	background-color: yellowgreen;
	color:black;
	padding: 20;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.boton3{
	width: 100%;
	background-color:rgb(93, 124, 32) ;
	height: 40;
	color: #ffffff;
	border-radius: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: none;
	text-decoration: none;
	padding: 6 20 6 20;
	font-size: 95%;
	margin: 20;
}
.boton3:hover{
	background-color:#000000 ;
}
.boton4{
	background-color:rgb(93, 124, 32) ;
	color: #ffffff;
	border-radius: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: none;
	text-decoration: none;
	padding: 10 70 10 70;
	font-size: 100%;
	margin: 20;
}
.boton4:hover{
	background-color:#000000 ;
}


.tabla{
	border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    -moz-border-radius: 20px;
	margin: 0 auto;
	table-layout: fixed;
	width: 90%;
	background: #ececdb;	
	text-align: center;
	
}

.tabla th, td {
	padding: 8px; 
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
}

.tabla th {
	background:  #1f2547;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
.tabla th:first-child { 
    border-top-left-radius: 5px; 
}
.tabla th:last-child {   
    border-top-right-radius: 5px; 	
}
.tabla td:last-child {   
    text-align: center;
}

@media screen and (max-width:900px){
	.cabecera{
		font-size: 75%;
		height: 150;
	}
	.cabecera img{
		width:150;
		height: 150;
		}
		.contimg{
		width:150;
		height:150;
		}
	.centro{
		width: 100%;
	}
	.centro img{
		width: 150px;
	}
	.formulario img{
		width: 50;
	}
	   
	.formulario{
		width: 50%;
	}
	.alineacion2{
		display: block;
	}
}
@media screen and (max-width:500px){
   .cabecera{
	   font-size: 60%;
	   height: 120;
   }
   .cabecera img{
	width:120;
	height: 120;
	}
	.contimg{
	width:120;
	height:120;
	}
   .centro{
	   width: 100%;
   	}
   .centro img{
	width: 150px;
	}
	.formulario{
		width: 70%;
	}
	.formulario img{
		width: 50;
	}
   
	.alineacion2{
		display: block;
	}
	.fecha{
		text-align: center;
	}
	.tabla{
		font-size: 80%;	
		
	}

}